{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="d-flex p-2 bd-highlight container text-center">
        {% for li in list %}
            <form action="/" method="post">
                <button type="submit" class="btn-success form-check-input"></button>
                <button type="submit" class="form-check-input btn-danger">X</button>
                <label class="form-check-label" for="defaultCheck1">
                {{ li.todo }}
                </label>
            </form>
        {% endfor %}
    </div>
{% endblock %}