{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row_cards">
            {% for li in list %}
            <div class="cards p-2">
                <div class="test text-justify">
                    <p>{{ li.todo }}</p>
                    <form action="/remove" method="post" class="po">

                        <input type="hidden" name="done" value="1"></input>
                        <button type="submit" class="btn-success form-check-input"></button>

                    </form>
                    <form action="/remove" method="post" class="po">
                        
                        <input type="hidden" name="remove" value="-1"></input>
                        <button type="submit" class="form-check-input btn-danger"></button>

                    </form>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}""