body
{
  background:url(test2.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  margin: 8px;
}

form.back
{
    background-color: white;
    padding-top: inherit;
    padding-bottom: inherit;
}

.form-control
{
    width: 150px;
}

.btn-success
{
    border-radius: 0.25em;
}

.btn-danger
{
    border-radius: 0.25em;
}

.containers
{
    width: 100%;
    max-width: 720px;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .color
{
    color:#FE0000;
}
nav .navbar-brand .color2
{
    color:#EBC153;
}

.d-flex
{
    flex-direction: column;
}