{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if list == [] %}
        <p>Completed tasks will appear here</p>
    {% else %}
        <div class="container shape border">
            <table class="table tablestriped">
                <thead>
                    <tr>
                        <th class="text-start"> </th>
                        <th class="text-start">Task</th>
                        <th>Date</th>
                        <th>Remove</th>

                    </tr>
                </thead>
                <tbody>
                    {% for li in list %}
                        <tr class="align">
                            <td class="text-start">
                                <form action="/history" method="post">
                                    <input type="hidden" name="id" value="{{ li.list_id }}">
                                    <button type="submit" class="btn btn-outline-primary2 form-check-input check"><i class="fa-solid fa-check"></i></button>
                                </form>
                            </td>
                            <td class="text-start line">{{ li.todo }}</td>
                            <td class="text-nowrap">{{ li.date[0:10] }}</td>
                            <td class="text-end">
                                <form action="/remove" method="post" class="remove-align">
                                    <input type="hidden" name="id" value="{{ li.list_id }}">
                                    <button type="submit" class="check"><i class="fa-solid fa-trash-can"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}}